.brand {
  font-family: "Inter", "sans-serif";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}

button {
  background-color: white;
  padding: 0;
}

.container {
  max-width: 1200px;
}

.border-b {
  border-bottom: 1px solid #e5e7eb;
}
